/* Place CSS styles here */

body {
    /* distribute font to entire site */
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Karla', sans-serif;
    text-shadow: 5px 4px 7px red;

}

p {
    font-size:20px;

}

h1,
h2,
h3,
h4,
h5,
h6 { 
    font-family: 'Karla', sans-serif;
    font-style: italic; 
    font-weight: 700; 
    text-transform: uppercase; 

}

img {
    display: block;
    margin: auto 0;

}