/* Place CSS styles here */

body {
    /* distribute font to entire site */
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Karla', sans-serif;
    text-shadow: 5px 4px 7px red;

}

p {
    font-size: 20px;

}

h1,
h2,
h3,
h4,
h5,
h6 { 
    font-family: 'Karla', sans-serif;
    font-style: italic; 
    font-weight: 700; 
    text-transform: uppercase; 

}

a {
   text-decoration: none;
   color: red; 

}

img {
    display: block;
    margin: auto 0;

}

.cookie {
    text-align: left;
    border: 4px red;
    
}

.val-header {
    background-color: black;
}

.val-header nav {
    display: flex;
    gap: 80px;
    justify-content: center;
    padding: 30px;
    
    }

.val-header nav a {
    color: blueviolet;
}

.val-header nav img {
    width: 40px;
}


.val-intro {
    background-color: pink;
     display: flex;
    justify-content: center; 
    }

.val-smaller-image {
width: 20%
}

.val-row-3-tiles {
display: flex;
justify-content: center;
gap: 30px;
background-color: bisque;
}

.val-row-3 {
    background-color: aquamarine;
    padding: 30px;

}

footer {
display: flex;
justify-content: flex-end;
}

footer img {
    width: 80 px; 
}

.val-featured-image {
min-height: 300px;
height: 600px;
background: url(../img/spongebob.jpeg);
background-repeat: no-repeat; 
background-size: cover;
background-position: center center; 
}

.Primary-click {
    padding-top: 10 px;
    padding-bottom: 10 px;
    padding-right: 20 px;
    padding-left: 20 px;
    color: light pink;
    background-color: black;
    border: 1 px solid black; 
    font-size: 20 px; 
    font-weight: 600;
    border-radius: 8 px;
    transition: all .25s ease; 

}

.Primary-click:hover { 
    color: black;
    background-color: light pink;
}

.Primary-click:focus {
    box-shadow: 0 0 0 4px aqua;

}
